src/main/mule/timezone.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<os:object-store name="Object_store" doc:name="Object store" doc:id="22c55bc5-2b16-4f75-9078-5bd5519df9b5" />
	<flow name="timezone_main_flow" doc:id="3323ac1f-1a11-4baf-9171-0b927ccd493a" >
		<set-variable value='#[%dw 2.0
&#10;output application/json
&#10;import * from dw::core::Arrays
&#10;var uri = (attributes.requestPath default "timezone") splitBy("/") filter((item, index) -&gt; item != "")
&#10;var byPass = ["cet", "cst6cdt", "eet", "est", "est5edt", "hst", "met", "mst", "mst7mdt", "pst8pdt", "wet"] indexOf uri[1]
&#10;var extension = ((attributes.requestPath default "html") splitBy(".") filter((item, index) -&gt; item != ""))[1] default "html"
&#10;---
&#10;{
&#10;	"extension" : extension,
&#10;	"timeZone" : uri[0],
&#10;	"region" : uri[1],
&#10;	"area" :  if(byPass &gt;= 0) (uri[1]) else (uri[2]),
&#10;}]' doc:name="uri data" doc:id="07425d13-ca5a-4357-80cd-89c6782bb978" variableName="uriData"/>
		<choice doc:name="Choice" doc:id="9247d13e-4bd9-49cb-973a-c913d0cb808d" >
			<when expression='#[!isBlank(vars.uriData.area)]'>
				<set-variable value='#["timezone/" ++ vars.uriData.region ++ "/" ++ vars.uriData.area]' doc:name="setRequestURI" doc:id="e4b941fe-1d09-4754-bd61-aae44667eaaa" variableName="setRequestURI"/>
				<flow-ref doc:name="Flow Reference" doc:id="0ac2d3cb-3492-4d78-bb28-4c10152f0f7b" name="make_request_sub_flow"/>
				<ee:transform doc:name="Transform Message" doc:id="23f79e11-af86-46ab-8c78-72efad8da62a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Timezone: payload.timezone,
	Abbreviation: payload.abbreviation,
	"Client IP": payload.client_ip,
	Datetime: payload.datetime,
	"Day of week": payload.day_of_week,
	"Day of year": payload.day_of_year,
	DST: payload.dst,
	"DST from": payload.dst_from,
	"DST offset": payload.dst_offset,
	"DST until": payload.dst_until,
	"Raw offset": payload.raw_offset,
	Unixtime: payload.unixtime,
	"UTC datetime": payload.utc_datetime,
	"UTC offset": payload.utc_offset,
	"Week number":  payload.week_number
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<ee:transform doc:name="JSON to XML" doc:id="203af64c-43a2-46f1-837b-a07f42676b0c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/xml writeDeclaration = false
---
{
	div @(class: "card"): {
		div @(class: "card-body"): {
			table @(class: "table table-striped"): {
				thead: {
					tr @(class: "table-primary"): {
						th @(scope: "col"): "title",
						th @(scope: "col"): "value",
					}
				},
				tbody: {
					(payload mapObject(item, key, index) -> {
						tr: {
							th @(scope: "col"): key,
							th @(scope: "col"): item,
						}
					})
				}
			}
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<os:retrieve doc:name="Retrieve" doc:id="2472f81b-fa5e-40a5-9563-6f7d4129e994" key='#["timezoneOS"]' objectStore="Object_store" target="OSTimeZone">
					<os:default-value ><![CDATA[""]]></os:default-value>
				</os:retrieve>
				<flow-ref doc:name="Flow Reference" doc:id="97e75f85-aec7-4a14-a96c-81c8b770ff7f" name="timezone_sub_flow" target="OSTimeZone"/>
				<parse-template doc:name="Parse Template" doc:id="85e4841d-dbb9-467a-9db4-25315915954b" location="html\area.html"/>
			</when>
			<when expression='#[!isBlank(vars.uriData.region)]'>
			
				<set-variable value='#["timezone/" ++ vars.uriData.region]' doc:name="setRequestURI" doc:id="b0491fec-a06c-4ae5-bf52-ac522c853711" variableName="setRequestURI" />
				<flow-ref doc:name="Flow Reference" doc:id="93791c21-cd3c-4dd4-a2f3-67d463c99c6b" name="make_request_sub_flow"/>
				<ee:transform doc:name="Transform Message" doc:id="e0d1962a-0bf1-4eb3-95e2-e2062cea1a1d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
(payload map((mapItem, mapIndex ) -> mapItem splitBy("/")) map((i, v) ->  i[1] ++ "/" ++ (i[2] default "" )) distinctBy $)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="964f6477-cd8a-4c5d-a1c2-70e4ce0f3930">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/xml writeDeclaration=false
---
{
	div @(class:"card"):{
	  div @(class:"card-body"):{
	    h5 @(class:"card-title") : "Clean list group",
	    ul @(class:"list-group list-group-flush"):{
	     (payload map(item, index) -> {
	      li @(class:"list-group-item"): {
	      	a @(class: "nav-link collapsed", href: lower("https://worldtime-demo-api.us-e2.cloudhub.io/" ++ vars.setRequestURI ++ "/" ++ item)):{
	          		i @(class: "bi bi-folder-fill"):{
//						span: item replace "/" with("")
						span: if(item endsWith "/") item replace "/" with("") else item 
	          		}
	          	}
	      	
	      	}
	     })
	    }
	  }
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<async doc:name="Async" doc:id="159feeb1-380b-47d8-9a0e-3dc15ee79ae3" >
					<os:store doc:name="Store" doc:id="cf18e85e-12d6-4f5f-8f91-a5c47f6dcb27" key="#[vars.setRequestURI]" objectStore="Object_store" failIfPresent="true" />
				</async>
				<os:retrieve doc:name="Retrieve" doc:id="1b7bb788-949b-4149-9118-3dbee5594cdd" key='#["timezoneOS"]' target="OSTimeZone" objectStore="Object_store">
					<os:default-value ><![CDATA[""]]></os:default-value>
				</os:retrieve>
				<flow-ref doc:name="Flow Reference" doc:id="4b0542b9-db8c-466c-9362-d65027a37f33" name="make_request_sub_flow" target="OSTimeZone"/>
				<parse-template doc:name="Parse Template" doc:id="55aa5b21-e588-4413-8665-096cb2f3ab88" location="html\region.html"/>
			</when>
			<otherwise >
				<set-variable value='#["timezone"]' doc:name="setRequestURI" doc:id="b35e99f9-6d22-4974-aa91-7d7199e42ec1" variableName="setRequestURI" />
				<flow-ref doc:name="Flow Reference" doc:id="bc2ec809-7953-4576-a966-d7d53388a983" name="make_request_sub_flow"/>
				<ee:transform doc:name="Transform Message" doc:id="aefe9ba5-b317-4198-ab69-cf3050ca8046">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map((mapItem, mapIndex ) -> mapItem splitBy("/")) map((i, v) -> i[0] ) distinctBy $]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="27b4e0db-822c-4d58-8a71-3373e28f80de" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml writeDeclaration=false
---
{
	ul @(class: "sidebar-nav", id: "sidebar-nav"): {
		li @(class: "nav-item"): {
        	a @(class: "nav-link collapsed", href: "javascript:void(0)"):{
          		i @(class: "bi bi-grid"):{
					span: "Dashboard",					          			
          		}
          	}
         },
         (payload map (item, index) -> {
			li @(class: "nav-item"): {
	        	a @(class: "nav-link collapsed", href: lower("https://worldtime-demo-api.us-e2.cloudhub.io/timezone/" ++ item)):{
	          		i @(class: "bi bi-menu-button-wide"):{
						span: item			          			
	          		}
	          	}
	         }	
         }),
	}

}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<async doc:name="Async" doc:id="446ee4f4-2030-491f-b763-5d16477867eb" >
					<os:store doc:name="Store" doc:id="cf0a4402-e977-4ea0-a67e-8a46383f8a9c" key='#["timezoneOS"]' objectStore="Object_store" failIfPresent="true" />
				</async>
				<parse-template doc:name="Parse Template" doc:id="45a876c0-d335-4e6c-9a88-db6194f81dd9" location="html\index.html"/>
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="make_request_sub_flow" doc:id="7c6ab9f9-5869-4931-802d-6dda8bed84da" >
		<set-variable value='#[%dw 2.0
&#10;import * from dw::core::Arrays
&#10;output application/json
&#10;var uriElement = (attributes.requestPath splitBy("/") filter((item, index) -&gt; item != ""))
&#10;var byPass = ["cet","cst6cdt","eet","est","est5edt","hst","met","mst","mst7mdt","pst8pdt","wet"] indexOf uriElement[1] 
&#10;var subArea = ["argentina", "indiana", "kentucky", "north_dakota"] indexOf uriElement[2]
&#10;---
&#10;//uriElement
&#10;if(byPass &gt;= 0) 
&#10; ("timezone/" ++ uriElement[1]) 
&#10;else if(subArea &gt;= 0)
&#10; (attributes.requestPath)
&#10;else 
&#10; vars.setRequestURI]' doc:name="Set Variable" doc:id="5d3c8ae7-971f-420b-ad36-c5f5a1bd308f" variableName="finalRequestURI"/>
		<logger level="INFO" doc:name="Logger" doc:id="5c139148-9130-4be6-b919-bd9a47600615" message='#[vars.finalRequestURI]' />
		<http:request method="GET" doc:name="Request" doc:id="b39afd75-c8ec-422c-9c0b-02bf45592c4d" config-ref="WorldTime" path="#[vars.finalRequestURI]" />
	</sub-flow>
	<sub-flow name="timezone_sub_flow" doc:id="e09761c8-3cfd-4dc6-95db-a4dab27e095a" >
		<choice doc:name="Choice" doc:id="a61ffb48-f637-4dcc-ae63-e62a4d6c3fa7" >
			<when expression="#[!isBlank(vars.OSTimeZone)]">
				<http:request method="GET" doc:name="Request" doc:id="bdd1a4e5-d413-41fe-a350-beab89db1d06" config-ref="WorldTime" path='#["/timezone"]' />
				<ee:transform doc:name="Transform Message" doc:id="cebd7214-2d54-4812-b6a5-73af88028c77">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map((mapItem, mapIndex ) -> mapItem splitBy("/")) map((i, v) -> i[0] ) distinctBy $]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="2cefd16e-cb1d-41be-9192-c6af9cd5da99">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml writeDeclaration=false
---
{
	ul @(class: "sidebar-nav", id: "sidebar-nav"): {
		li @(class: "nav-item"): {
        	a @(class: "nav-link", href: "javascript:void(0)"):{
          		i @(class: "bi bi-grid"):{
					span: "Dashboard",					          			
          		}
          	}
         },
         (payload map (item, index) -> {
			li @(class: "nav-item"): {
	        	a @(class: "nav-link collapsed", href: lower("https://worldtime-demo-api.us-e2.cloudhub.io/timezone/" ++ item)):{
	          		i @(class: "bi bi-menu-button-wide"):{
						span: item			          			
	          		}
	          	}
	         }	
         }),
	}

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<os:store doc:name="Store" doc:id="eccdd523-837c-4195-a70e-93c12ed9adee" key='#["timezoneOS"]' failIfPresent="true" objectStore="Object_store"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="10b791d2-099d-4e65-9938-3e6ecb462553" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"msg" : "Default"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</sub-flow>
</mule>
