src/main/mule/worldtime-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a304b13b-c56c-409a-810f-2fb8c9705dbe" basePath="/">
		<http:listener-connection host="0.0.0.0" port="${https.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="mule.jks" keyPassword="password" password="password" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<http:request-config name="WorldTime" doc:name="HTTP Request configuration" doc:id="3be08ae7-712c-4ddf-8632-9f588c75cccc" basePath="${secure::worldtime.basepath}" >
		<http:request-connection host="${secure::worldtime.host}" />
	</http:request-config>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="496040d5-6fc7-4c4c-b37a-129e9267cad7" file="secureconfig.yaml" key="mulesoft" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<configuration-properties doc:name="Configuration properties" doc:id="e987f261-9e01-411a-8c19-2682fb55af5b" file="config.yaml" />
	<flow name="worldtime-demo-apiFlow" doc:id="76514ca3-0fea-466c-a15b-d76e70c9c612" >
		<http:listener doc:name="Listener" doc:id="b3f9a7b4-98b5-49c3-bbe8-4d29295b00bb" config-ref="HTTP_Listener_config" path="/*"/>
		<ee:transform doc:name="set variables" doc:id="56a4c830-b3c8-4a55-b50a-2611c5d3af42" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="timezone" ><![CDATA[%dw 2.0
output application/json
---
(attributes.requestUri splitBy("/") filter(value, index) -> value != "")[0]
]]></ee:set-variable>
				<ee:set-variable variableName="region" ><![CDATA[%dw 2.0
output application/json
---
(attributes.requestUri splitBy("/") filter(value, index) -> value != "")[1]]]></ee:set-variable>
				<ee:set-variable variableName="area" ><![CDATA[%dw 2.0
output application/json
---
(attributes.requestUri splitBy("/") filter(value, index) -> value != "")[2]
]]></ee:set-variable>
				<ee:set-variable variableName="subarea" ><![CDATA[%dw 2.0
output application/json
---
(attributes.requestUri splitBy("/") filter(value, index) -> value != "")[3]]]></ee:set-variable>
				<ee:set-variable variableName="inputData" ><![CDATA[%dw 2.0
output application/dw
var requestUriArray = (attributes.requestUri splitBy("/") filter(( item, index ) -> item != ""))
var sizeOfURI = sizeOf(requestUriArray)
var responseExt = (requestUriArray[(sizeOfURI-1)] splitBy(".") filter((item, index) -> item != ""))
---
{
	"extension" : responseExt[1] as String default "html",
	"timeZone"	: requestUriArray[0] as String default null,
	"region"	: requestUriArray[1] as String default null,
	"area"		: requestUriArray[2] as String default null,
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="9cd5c3c7-b89b-4d3e-927f-b22808b317e3" >		
			<when expression='#[vars.inputData.timeZone contains("timezone")]'>
				<choice doc:name="Choice" doc:id="f06eaa5a-1cbb-4c03-8311-ceb5cbcab67d">
				
			<when expression="#[vars.area != null]">
						<set-variable value='#[vars.timezone ++ "/" ++ vars.region ++ "/" ++ vars.area]' doc:name="Set Request URL" doc:id="60e10db8-02d8-4263-aeec-15fbf29d585e" variableName="requestURI" />
			</when>
			<when expression="#[vars.inputData.timeZone != null]">
						<flow-ref doc:name="Flow Reference" doc:id="97e59658-ef3a-4020-b624-513b343765d6" name="timezone_Flow" />
			</when>
					<when expression="#[vars.inputData.region != null]" >
						<flow-ref doc:name="Flow Reference" doc:id="7c35aef5-53fa-415b-8dfc-2548322778c9" name="region_Flow"/>
					</when>
					<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="3e1cb4fb-3df9-46d8-8102-76e00d61c724">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"default"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
				<choice doc:name="Choice" doc:id="45c43c15-7afc-459b-828b-b3b49c1215dc">
					<when expression='#[vars.region == "america" and vars.subarea != null]'>
						<set-variable value='#[vars.timezone ++ "/" ++ vars.region ++ "/" ++ vars.area ++ "/" ++ vars.subarea]' doc:name="Set Request URL" doc:id="b7f3176a-64f6-4887-b4a9-cb99a0cd91b6" variableName="requestURI"/>
					</when>
				</choice>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="7fd27869-267c-449c-88a8-46284c3df362" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
