src/main/mule/worldtime-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a304b13b-c56c-409a-810f-2fb8c9705dbe" basePath="/">
		<http:listener-connection host="0.0.0.0" port="${https.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" keyPassword="password" password="password" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<http:request-config name="WorldTime" doc:name="HTTP Request configuration" doc:id="3be08ae7-712c-4ddf-8632-9f588c75cccc" basePath="${secure::worldtime.basepath}" >
		<http:request-connection host="${secure::worldtime.host}" />
	</http:request-config>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="496040d5-6fc7-4c4c-b37a-129e9267cad7" file="secureconfig.yaml" key="mulesoft" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<configuration-properties doc:name="Configuration properties" doc:id="e987f261-9e01-411a-8c19-2682fb55af5b" file="config.yaml" />
	<global-property doc:name="Global Property" doc:id="2fd64c51-79db-444a-b15c-bed03efb8f36" name="env" value="localhost" />
	<configuration-properties doc:name="Configuration properties" doc:id="40edaf28-976e-4233-8374-3da0f6c984c8" file="localhost-site-setting.yaml" />
	<flow name="worldtime-demo-apiFlow" doc:id="76514ca3-0fea-466c-a15b-d76e70c9c612" >
		<http:listener doc:name="Listener" doc:id="b3f9a7b4-98b5-49c3-bbe8-4d29295b00bb" config-ref="HTTP_Listener_config" path="/*"/>
		<choice doc:name="Choice" doc:id="9cd5c3c7-b89b-4d3e-927f-b22808b317e3" >
			<when expression='#[attributes.requestUri contains("timezone")]'>
				<flow-ref doc:name="Flow Reference" doc:id="9e76d727-8c5a-4bf8-b9bb-572b8da3ce9d" name="timezone_main_flow"/>
			</when>
			<otherwise >
				<os:retrieve doc:name="Retrieve" doc:id="5a341241-60fb-4a5c-ad18-7d4409adbadd" key='#["timezoneOS"]' objectStore="Object_store" target="OStimezone">
					<os:default-value ><![CDATA[""]]></os:default-value>
				</os:retrieve>
				<ee:transform doc:name="Transform Message" doc:id="9e70c599-5afa-4458-ac96-e456da5719b9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.OStimezone]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<os:clear doc:name="Clear" doc:id="4a3c7659-ae72-4887-8d51-fe530df02d11" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="1e6476aa-bcc6-42a3-bbe8-0779fa5e86ba" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="f1c17028-d0d7-4439-8b7f-5bfc21a0eb4b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Region Flow",
	"error" : error
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
